body{
  background-color:cadetblue ;
}
.App{
  background-color: azure;
  min-height: 500px;
  width: 500px;
  margin: 40px auto ;
  align-content: center;
}
.Centerdiv{
  text-align: center;
  font: weight 200px;;

}
#todoform input{
  background-color: cadetblue;
  border: 0;
  width: 300px;
  height: 50px;
  padding: 10px 20px;
  margin:20px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
#todoform input::placeholder{
  color:black;
}
#todoform input:focus{
  outline: none;
}
#todoform button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border:0;
  background: cornflowerblue;
  cursor: pointer;
  font-weight: bolder;
  color:whitesmoke;
}
