ul li{
    list-style-type: none;
}
button{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border:0;
    background: red;
    cursor: pointer;
    font-weight: bolder;
    color:whitesmoke;
}